<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ModernUINavigationApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ModernUINavigationApp1.Properties.Settings>
            <setting name="ChosenAccent" serializeAs="String">
                <value>#00000000</value>
            </setting>
            <setting name="ChosenTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="ChosenFontSize" serializeAs="String">
                <value>Large</value>
            </setting>
        </ModernUINavigationApp1.Properties.Settings>
    </userSettings>
</configuration>